<launch>
  <!-- 1) Expand Xacro into the /robot_description param -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder \
           '$(find uvic_rover)/urdf/rover.urdf.xacro'" />

  <!-- 2) Publish all fixed joints as TF -->
  <node pkg="robot_state_publisher"
        type="robot_state_publisher"
        name="robot_state_publisher"
        output="screen">
    <!-- how fast to re-publish the static transforms -->
    <param name="publish_frequency" value="50.0"/>
  </node>
</launch>